aima2010.pdf
'Andrea Lonza - Reinforcement Learning Algorithms with Python_ Learn, understand, and develop smart algorithms for addressing AI challenges-Packt Publishing (2019).pdf'
RLbook2020.pdf
Fire-Segmentation

